@tailwind base;
@tailwind components;
@tailwind utilities;

.home-link{
    @apply hover:text-yellow-300 hover:underline hover:underline-offset-[12px] lg:hover:underline-offset-[32px] hover:decoration-4 cursor-pointer
}
.bg-image{
    background-image: url("./images/HomeBackgroundImage.png");
    background-size: cover;
    /* background-color: aliceblue; */
}